
body   {
background-color:#B2FFFF;

}

@media only screen and (max-width: 400px){
html,body
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
}



@media scree and (max-width: 900px) and (min-width: 481px) {
html,body
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow-x: hidden;
}


/* Footer Section */

.section-subscribe{
padding: 5em 0;

}
.form-control{
outline: none;
-webkit-box-shadow: none !important;
box-shadow: none !important;
height: 50;
}
.form-control:focus{
-webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
box-shadow: 0 3px 10px -2px (0,0,0,0.2) !important;
}
.form-control:focus, .form-control:active{
outline: none;
}
.btn.btn-secondary{
color: #fff;
border-width: 2px;
background: #F5F3C1;
background

}
.links a:hover{
color: #7f00ff;
}

.links a{
font-size: 30px;
color: green;
margin: 25px 20px;
}

 <!-- wrapper{
display: flex;
width: 100%;

justify-content: centre;
align-items: center;
padding: 0 10%;
overflow: hidden;
}

.topline{
display: block;
position: relative;
font-size: 35px;
letter-spacing: 5px;
color: #3d5c5f;
}
.topline::after{
position: absolute;
content: '';
height: 4px;
width: 45px;
bottom: 10px;
background-color:  #3d5c5f;
}

.multitext{
color: #7f00ff;
text-transformation: capitalize;

}
p{
display: block;
width: 90%;
fontsize: 1.2em;
color: #3d535f;

}
.btns{
width: 100%;
position: relative;
left: 150px;

}
button{
outline: none;
border: none;
cursor: pointer;
font-size: 25px;
font-weight: 400px;
color: #fff;
background-color:  #3d535f;
padding: 8px 14px;
margin-left: 4px;
letter-spacing: 2px;
text-transform: capitalize;
box-shadow: 0 15px 10px black;

}

button:hover{
background-color: purple;
}  -->

.imagebox{
margin-top: 100px;
width: 500px;
height: 600px;
left: 800px;
}
.txt2{
z-index: 3;
font-size: 40px;
font-weight: 20em;
margin-left: 900px;
}
.txt{
background-color: white-smoke;
border-radius: 100px;
height: 500px;
width: 1300px;
}

.imagemobi{

}

<!------ Trying out something new ----->
.nav12{
padding: 30px 10px 30px 10px!important
font-weight:
}
.w3-row{
height:280px;padding-top:16px
}

.tomove{
margin-top: 30px;
position: relative;
top: -100px;

}

.txthtl{
left:50px;
margin-left: 200px;


}
.folio{
margin-left: 500px;

}
.contactus{
border: 2px  solid #000000;
  border-radius: 4px;
  outline: none;
  width: 300px;
  height: 60px;
  padding: 5px;
  margin: 13px;

}
.txtar{
width: 350px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F5F5F5;
  font-size: 16px;
  resize: none;
}
.sub{
width:200px !important;
height: 40px !important;
}
.contme{
width: 80%;
height: 100vh;
background-color: ;
display: flex;
align-items: centre;
justify-content: center;
}
.connect{
margin-top: 150px;
background-color: #F5FEFD;
width: 100%;
height:100vh;

}
.inp{
margin-left: 690px;
justify-content: centre;
position:relative;
bottom: 500px;
background-color:#FFF;
width: 400px;
height: 600px;
border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px  #F5F5DC;

}
.letstxt{
position: relative;
left:150px;
top:100px;
}
<!--   Index.html -->

.clency.txt{
margin-top: 400px;

}


.htltxt{
color: black !important;
position: relative;
bottom: 0px;
}
.imghsp{
position: relative;
bottom: 346px;
left: 350px

}
.hsptxt{
color: black !important;
position: relative;
bottom: 330px;
left: 330px;
}
.imgbmi{
position: relative;
bottom: 670px;
left: 0;
height: 250px;
width: 330px
}
.bmitxt{
position: relative;
bottom: 670px;
left: 0;
}
.imgandroid{
position: relative;
bottom: 960px;
left: 350px;
height: 250px;
width: 330px

}
.androidtxt{
position: relative;
bottom: 960px;
left: 350px;

}
.kotlinimg{
position: relative;
bottom: 1250px;
left: 750px;
height: 250px;
width: 350px
}
.kottxt{
position: relative;
bottom: 1250px;
left: 790px;
}
.port{
text-shadow: 2px 2px 5px blue;
  letter-spacing: 5px;
}
.testtxt{
text-shadow: 2px 2px 5px blue;
  letter-spacing: 5px;
position: relative;
bottom: 1200px;
left: 0;
}
.testimonialdiv{
position: relative;
bottom: 1200px;
text-shadow: 2px 2px 5px blue;
letter-spacing: 5px;

}
.txtabt{
margin-left: 500px
}
.imgmom{
border-radius: 30px;
position: relative;
bottom: 1200px;
background-color: #fff;
border: 2px solid red;
height: 400px;
align-items: centre;
width: 400px;
}
.metxt{
margin-left: 10px;
margin-top: 10px;
}
.imgbecky{
border-radius: 30px;
position: relative;
bottom: 1650px;
left: 450px;
background-color: #fff;
border: 2px solid red;
height: 400px;
align-items: centre;
width: 400px;
}
.imgclarise{
border-radius: 30px;
position: relative;
bottom: 1590px;
background-color: #fff;
border: 2px solid red;
height: 400px;
align-items: centre;
width: 400px;
}
.imgdad{
border-radius: 30px;
position: relative;
bottom: 1980px;
left: 450px;
background-color: #fff;
border: 2px solid red;
height: 400px;
align-items: centre;
width: 400px;
}

.footme{
height: 100px;

}